body {
    background-color: black;
}

  h1 {
    text-align: center;
    margin: auto;
    color: white;
    font-family: Arial;
}
  textarea {
    background-color: white;
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: "Times New Roman";
    font-size: larger;
    color:black; 
  }